h1, h2 {
    font-size: 2.25rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1.125rem;
    font-weight: bold;
}

section {
    padding: 8rem 4rem 8rem 4rem;
}

a.social-link-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid #000;
  border-radius: 0.75rem;
  padding: 0.25rem;
  text-decoration: underline;
  gap: 0.25rem;
}

a.project-link {
    text-decoration: underline;
}

div.university-card {
  background-color: #ffffff;
  border-radius: 0.75rem;
  width: 32rem;
  padding: 0.5rem;
}

div.university-card p {
    font-weight: 500;
}

img.university-logo {
  height: 4rem;
}

div.techincal-skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.technical-skills-section-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

div.technical-skills-container {
  display: flex;
  gap: 3rem;
}

img.techincal-skills-logo {
  height: 4rem;
}

p.techincal-skills-text {
  font-weight: bold;
}

div.project {
  background-color: white;
  max-width: 28rem;
  border-radius: 0.75rem;
  padding: 1rem;

}

img.project-icon {
  height: 12rem;
  border-radius: 0.5rem;
  border: black 2px solid;
}

div.project-icon-container {
  display: flex;
  justify-content: center;
}

div.project p {
  font-weight: 500;
}

img.skills-icons {
  height: 3rem;
}

div.personal-box {
  border: black 2px solid;
  border-radius: 1rem;
  padding: 1rem;
  width: 32rem;
}